

html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5 {
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

h1, h2, h3, h4, h5, p {
}

.emphasis-color {
    color: #666;
}

.error-color {
    color: #d54;
}

a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h2, h3, h4, h5 {
    font-weight: normal;
}

dl {
    color: #555;
}
dl dd {
    font: 15px Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 40%;
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 20px 10px 40px 10px;
    background-color: white;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    line-height: 16px;
    font-size: 16px;
    padding: 5px 10px;
    color: white;
    background-color: #cc0000;
    border: 1px solid #bb0000;
    border-radius: 5px;
    margin-right: 5px;
}

button.right {
    margin-left: 5px;
    margin-right: 0;
}

.blink {
  animation: blink 0.5s steps(3, start) infinite;
  -webkit-animation: blink 0.5s steps(3, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

.invisible {
    visibility: hidden;
}

.faded {
    opacity: 0.4;
}

#save_message, #fitness_message {
    color: #555;
    font-size: 12px;
    line-height: 30px;
    margin: 0 20px;
}


.left {
    float: left;
}

.right {
    float: right;
}

header {
    border-bottom: 1px solid #cc0000;
    padding: 0 2em;
    line-height: 64px;
    max-height: 64px;
    min-width: 1220px;
    box-sizing: border-box;
}

/* ugly hack, I'm tired of not finding a neat solution */
header .logo{
    display: inline-block;
    position: relative;
    height: 64px;
    margin: 0;
    top: -7px;
}

header .logo img{
    display: inline-block;
    max-height: 48px;
    margin: 0;
    margin-right: 2em;
    vertical-align: middle;
    padding: 0;
}

header a{
    display: inline-block;
    height: 64px;
    padding: 0;
    margin: 0;
}
header h1{
    display: inline;
    font-weight: normal;
    line-height: inherit;
    margin: 0;
}

header div.right a{
    margin-left: 1em;
    font-weight: normal;
}


.timescale_decrease, .timescale_increase {
    padding: 4px;
    line-height: 20px;
    cursor: pointer;
}

.timescale_increase {
    margin-right: 10px;
}

.codecontrols {
    margin-top: 1em;
}

.codestatus {
    padding-top: 10px;
}

.CodeMirror {
    font: 14px Consolas, Monaco, monospace;
    width: 1220px;
    margin: 10px auto;
    height: auto;
    overflow-y: hidden;
    box-shadow: none !important;
}

.CodeMirror-scroll {
    overflow-x: auto;
    padding-bottom: 5em;
}

.CodeMirror.cm-s-monokai{
    background: #333;
}

.CodeMirror.cm-s-solarized.cm-s-light,
.CodeMirror.cm-s-xq-light,
.CodeMirror.cm-s-neat{
    border: 1px solid #bbb;
}

.CodeMirror.cm-s-monokai,
.CodeMirror.cm-s-xq-dark,
.CodeMirror.cm-s-material{
    border: 1px solid black;
}

.cm-s-monokai .CodeMirror-gutters{
    background: #333;
}

.cm-s-solarized .cm-tab:before {
  content: "";   /*visualize tab character*/
}

.world {
    position: relative;
    width: 1220px;
    background-color: #333;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
}

.innerworld {
    position: relative;
    height: 100%;
    width: 938px;
    border-right: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.statscontainer {
    font: 12px Consolas, Monaco, monospace;
    line-height: 10px;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0px;
    width: 240px;
    height: 200px;
    padding: 20px;
    z-index: 1;
}

.statscontainer div {
    border-bottom: 1px solid #444;
}

.statscontainer div, .statscontainer span {
    position: absolute;
    display: block;
    width: 240px;
    height: 10px;
}

.statscontainer .value {
    text-align: right;
}


.feedbackcontainer {
    position: absolute;
}

.feedback {
    position: absolute;
    width: 1280px;
    height: 2000px;
    padding-top: 20px;
    line-height: 20px;
    text-align: center;
    background-color: rgba(44,44,44, 0.6);
    z-index: 5;
    overflow: hidden;
    color: white;
}

.feedback .emphasis-color{
    color: white;
}

.movable {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.user {
    color: white;
    text-shadow: 0 1px 3px black;
    z-index: 2;
}

.user.happy {
}

.user.frustrated {
    color: yellow;
}

.user.disappointed {
    color: red;
}

.user.leaving {
    color: #eee;
}

.elevator {
    background-color: #4F8686;
    border: 2px solid white;
    height: 46px;
    z-index: 1;
}

.elevator .directionindicator {
    position: absolute;
    font-size: 10px;
    top: 3px;
}

.elevator .directionindicator.directionindicatorup {
    left: 2px;
}

.elevator .directionindicator.directionindicatordown {
    right: 2px;
}

.elevator .directionindicator .fa{
    color: rgba(255, 255, 255, 0.2);
}

.elevator .directionindicator .fa.activated{
    color: #33ff44;
}

.elevator .floorindicator {
    display: inline-block;
    position: absolute;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
}


.elevator .buttonindicator {
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 95%;
    text-align: center;
    font-size: 8px;
    line-height: 8px;
    color: rgba(255, 255, 255, 0.3);
}
.elevator .buttonpress {
    cursor: pointer;
    margin: 0;
    display: inline-block;
}
.elevator .buttonpress.activated {
    color: #33ff44;
}

.floor {
    position: absolute;
    width: 100%;
    height: 49px;
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #333;
}

.floor:first-child{
    border-bottom: none;
    height: 50px;
}

.floor .buttonindicator {
    cursor: pointer;
    line-height: 50px;
    padding-left: 50px;
    color: rgba(255, 255, 255, 0.2);
}
.floor .buttonindicator .activated {
    color: rgba(55, 255, 55, 1.0);
}

.floor .floornumber {
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    font-size: 32px;
    line-height: 50px;
    padding-left: 10px;
}


.footer {
    margin-top: 20px;
}
.footer h4 {
    font-size: 13px;
}

.help {
    margin-top: 20px;
    margin-bottom: 30px;
}

.help p {
    max-width: 75%;
}

.doctable {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #555;
    border: none;
}

.doctable th, .doctable td  {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.doctable tr td:first-child {
    padding-right: 5px;
    color: #333;
}

.doctable td {
    font: 13px Consolas, Monaco, monospace;
}
